[Unit]
Description=Zenbook Duo Battery limit service

[Service]
ExecStart=/bin/bash /usr/bin/batterylimit

[Install]
WantedBy=multi-user.target